@model DTO.ProductDTO

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorFor(model => model.Name)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FileUrl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FileUrl, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
            @Html.ValidationMessageFor(model => model.FileUrl, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Upload" class="btn btn-primary" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-success">
            @ViewBag.FileStatus
            @ViewBag.FileName
        </div>
    </div>
}